* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 20vh;
    background: #6495ED;
}

.main_block {
    height: 60vh;
    background: #A9A9A9;
    display: flex;
    position: relative;
}

footer {
    height: 20vh;
    background: #6495ED;
}

.purple-section {
    background: #DDA0DD;
}

.yellow-section {
    background: #F0E68C;
}

@media screen and (min-width: 1024px) {
    .main_block {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .purple-section {
        width: 25%;
        height: 100%;
    }

    .yellow-section {
        width: 25%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main_block {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around;
    }

    .purple-section {
        width: 50%;
        height: 50%;
    }

    .yellow-section {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 767px) {
    .main_block {
        flex-direction: column;
        justify-content: space-between;
    }

    .purple-section {
        width:100%;
        height: 20vh;
    }

    .yellow-section {
        width:100%;
        height: 20vh;
    }
}